extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.case01;

block contentFixedBefore

block contentStatic
  .p-case01
    .p-case01-kv
      h1.p-case01-kv__title
        |Parallax Study!!
    .p-case01-section
      .p-case01-section__image.js-parallax-item(
        data-range-y = 25
        data-ratio-y = 0.015
        )
        img(src="/study_interactions/img/case01/image01.jpg", alt="")
    .p-case01-section
      
  

block contentFixedAfter
