.p-global-home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: #28262c;
  border-radius: 50%;
  text-decoration: none;
  @include l-more-than-mobile {
    width: 120px;
    height: 120px;
    top: 2rem; left: 2rem;
  }
  @include l-mobile {
    width: 60px;
    height: 60px;
    top: 1rem; left: 1rem;
  }
  &__label {
    color: #fff;
    font-family: $font-en-lato;
    font-weight: 700;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    @include l-more-than-mobile {
      font-size: 0.9375rem;
    }
    @include l-mobile {
      font-size: 0.45rem;
    }
  }
  //
  //interaction
  //
  transform: scale(1);
  transition-duration: .3s;
  &__label {
    transform: scale(1);
    transition-duration: .3s;
  }
  &.is-over {
    transform: scale(1.05);
  }
  &.is-over & {
    &__label {
      transform: scale(0.8);
    }
  }
}
