.p-global-home {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 2rem; left: 2rem;
  background-color: #28262c;
  border-radius: 50%;
  text-decoration: none;
  &__label {
    color: #fff;
    font-family: $font-en-lato;
    font-weight: 700;
    font-size: 0.9375rem;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }
  //
  //interaction
  //
  transform: scale(1);
  transition-duration: .3s;
  &__label {
    transform: scale(1);
    transition-duration: .3s;
  }
  &.is-over {
    transform: scale(1.05);
  }
  &.is-over & {
    &__label {
      transform: scale(0.8);
    }
  }
}
