.p-index-header {
  position: absolute;
  z-index: 10;
  text-align: center;
  @include l-more-than-mobile {
    width: 600px;
    height: 300px;
    top: 28%; left: 120px;
  }
  @include l-mobile {
    width: 300px;
    height: 200px;
    top: 30%; left: 20px;
  }
  &__title {
    display: inline-block;
    position: absolute;
    z-index: 11;
    color: #252639;
    font-family: $font-en-oswald;
    text-align: center;
    letter-spacing: 0.01em;
    @include l-more-than-mobile {
      min-width: 150px;
      padding: 5px 19px 10px;
      @include fontSize(60);
      line-height: 1.1;
    }
    @include l-mobile {
      min-width: 100px;
      padding: 5px 10px 5px;
      @include fontSize(30);
      line-height: 1.4;
    }
    &-bg {
      // content: '';
      display: block;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      z-index: 0;
    }
    &--01 {
      top: 0; left: 0;
      transform: rotate(-5.5deg);
    }
    &--01 & {
      &-bg {
        background-color: #AFBED8;
      }
    }
    &--02 {
      z-index: 10;
      color: #E5E5E5;
      transform: rotate(-2deg);
      @include l-more-than-mobile {
        top: 80px; left: 120px;
      }
      @include l-mobile {
        top: 45px; left: 60px;
      }
    }
    &--02 & {
      &-bg {
        background-color: #533A7B;
      }
    }
    &--03 {
      transform: rotate(-1deg);
      @include l-more-than-mobile {
        top: 155px; left: 60px;
      }
      @include l-mobile {
        top: 90px; left: 40px;
      }
    }
    &--03 & {
      &-bg {
        background-color: #74C99A;
      }
    }
    &-label {
      position: relative;
      z-index: 11;
    }
  }
  //
  //interaction
  //
  @keyframes bgSpread{
    0%   {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  @keyframes showHeading {
    0% {
      transform: translate3D(0, 100%, 0);
    }
    100% {
      transform: translate3D(0, 0, 0);
    }
  }
  &__title {
    overflow: hidden;
    &-bg {
      transform: scaleX(0);
      transform-origin: left;
      animation-name: bgSpread;
      animation-duration: 2s;
      animation-timing-function: $easeOutExpo;
      animation-fill-mode: forwards;
    }
    &--01 &{
      &-bg {
        animation-delay: 2s;
      }

    }
    &--02 &{
      &-bg {
        animation-delay: 2.1s;
        transform-origin: right;
      }
    }
    &--03 &{
      &-bg {
        animation-delay: 2.2s;
      }
    }
    &-label {
      opacity: 1;
      .c-split-str {
        animation-name: showHeading;
        animation-duration: 0.8s;
        animation-fill-mode: both;
        animation-timing-function: ease;
        @include iterateAnimationDelay(20, 0.02, 2.5);
      }
    }
  }
}
