.p-index-header {
  width: 500px;
  height: 300px;
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 120px;
  text-align: center;
  &__title {
    min-width: 150px;
    display: inline-block;
    position: absolute;
    z-index: 11;
    padding: 0 19px;
    color: #fff;
    font-family: $font-en-oswald;
    @include fontSize(60);
    text-align: center;
    line-height: 1.17;
    &--01 {
      background-color: #48a38c;
      top: 0; left: 0;
    }
    &--02 {
      background-color: #f65d80;
      z-index: 10;
      top: 60px; left: 120px;
      transform: rotate(-5deg)
    }
    &--03 {
      background-color: #252639;
      top: 125px; left: 60px;
    }
  }
}
