extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.case02;

block contentFixedBefore

block contentStatic
  .p-case02
    .p-case02-kv
      a.js-cursor-hover(href=`${path}/case01/`) CLICK!!

block contentFixedAfter
  .p-custom-cursor
    .p-custom-cursor__default
    .p-custom-cursor__hover
    .p-custom-cursor__dot
