.p-case02-kv {
  display: flex;
  justify-content: center;
  align-items: center;
  @include l-more-than-mobile {
    height: 100vh;
  }
  @include l-mobile {

  }
  & > a {
    color: #fff;
    font-family: $font-en-monteserrat;
    font-weight: 700;
    @include fontSize(60);
    text-decoration: none;
  }
}
